<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div fxLayout="row wrap" fxLayoutGap="1vw grid">
      <div *ngFor="let filterObject of filterOptions | keyvalue">
        <div *ngFor="let filterOption of filterObject.value">
          <input type="checkbox" (change)="filterBySelection(filterObject.key, filterOption)" />
          <span>{{filterOption}}</span>
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>filter_list</mat-icon>Filter
    </button>
  </div>

  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="1vw grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let tInfo of terrariumInfo">
        <mat-card class="picture-card" (onclick)="selectTerrarium()">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{tInfo.title}}</mat-card-title>
            <mat-card-subtitle>${{tInfo.price}}.00</mat-card-subtitle>
          </mat-card-header>
          <div class="img-container">
            <img mat-card-image src={{tInfo.image_sources[0]}} alt="Photo of terrarium">
          </div>
          <mat-card-content>
            <p>
              {{tInfo.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button><mat-icon>add_shopping_cart</mat-icon>Add To Cart</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</mat-drawer-container>
