
<!--
<mat-toolbar [ngClass]="(shrinkHeader)? 'mat-toolbar-small animations' : 'mat-toolbar-large animations'">
  <!--
    logo:
    <img [ngClass]="(shrinkHeader)? 'logo-small animations' : 'logo-large animations'"
          alt="Terrarium Logo"
          src="../../../../assets/img/terrarium_logo.png" />
  <div fxLayout="row" fxFlex="100%">
    <a [ngClass]="(shrinkHeader)? 'nav-links-small animations hover-underline-animation' : 'nav-links-large animations hover-underline-animation'" mat-button routerLink=""> Home </a>
    <a class="nav-links animations hover-underline-animation" mat-button routerLink="home"> Home </a>
  </div>
</mat-toolbar>
<div style="margin-top: 10vw;"></div>
-->

<mat-toolbar>
  <!--
    <img class="logo"
         alt="Terrarium Logo"
         src="../../../../assets/img/terra_logo.png" />
    -->
  <div fxLayout="row" fxFlex="100%">
    <a class="nav-links hover-underline-animation" mat-button routerLink=""> Home </a>
    <a class="nav-links hover-underline-animation" mat-button routerLink="shop"> Shop </a>
    <a class="nav-links hover-underline-animation" mat-button routerLink=""> About </a>
  </div>
  <div>
    <a class="nav-links hover-underline-animation" mat-button routerLink="cart"> Cart </a>
  </div>
</mat-toolbar>
<div style="margin-top: 5vw;"></div>
